@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 37px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.userProfile{
    background: #00B4CC;
    color:white;
}

.icon {
    position: fixed;
    top: 49px;
    right:195px;
    font-size: 23px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-50%, -50%);
}


.container{
    position: absolute;
    left:460px;
    border: 3px solid grey;
    padding: 10px;
    max-width:500 !important;
    margin-top:10%;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

i{
    max-width: 100%;
    border-radius :50%;
}

.msg-header
{
    border: 1px solid #ccc;
    width: 70%;
    height:10%;
    border-bottom: none;
    display:inline-block;
    background-color: #007bff;
}

.msg-icon{
    border-radius: 40%;
    width:40px;
    margin-left:5%;
    margin-top: 12px;
    float: left;
}

.header-icon{
    width : 40px;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}

.header-icon .fa{
    color:#fff;
    cursor:pointer;
    margin : 10px;

}


.input-group {
    float: right;
    margin-top : 16px; 
    margin-right: 450px;
    outline : none !important;
    border-radius:20px;
    width : 61% !important;
    background-color: #fff;
}

.form-control{
    border: none !important;
    border-radius: 20px !important;
}

.input-group-text {
    background:transparent !important;
    border : none !important;
}

.input-group .fa{
    color: 007bff;
    float: right;
    margin-top: 10px;
    margin-right:40px;
    
}

.form-control:focus {
    border-color: none !important;
    box-shadow: none !important;
    border-radius : 20px;
    
}

#message-input {
 width: 900px;
 height: 500px;
 margin-top:10px;
}